body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
#forgiveDiv {
  flex: none;
  width: 630px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF000040;
}

#sketchContainer {
  flex: none;
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}

.all {
  box-sizing: border-box;
}